body {
  @apply body-md text-white font-sans;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app .nuxt-icon svg {
  margin-bottom: 0;
}

button.sm,
button.small,
.btn-small {
  font-size: 13px;
}

.n-message-container {
  &.n-message-container--top {
    @apply absolute top-10;
  }
}

/* Change autfill styles:  */
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  border: none;
  -webkit-text-fill-color: theme('colors.white');
  -webkit-box-shadow: 0 0 0px 1000px #1e212b inset;
}
