/** Checkbox */
.n-checkbox {
  .n-checkbox-box .n-checkbox-box__border {
    border-width: 3px;
  }
  .n-checkbox__label a {
    @apply text-primary;
  }
}

/** Collapse */
.n-collapse {
  font-weight: bold;
}

/** Layout */
.n-layout {
  background-color: transparent;
}
.n-layout-sider {
  background-color: transparent;
}

/** Menu */
.n-menu.n-menu--vertical {
  @apply pt-1 pb-5;

  .n-menu-item {
    @apply mt-4;
  }
  .n-menu-item-content-header {
    margin-left: -8px;
  }
  .n-menu-item-content--selected {
    border-left: 4px solid theme('colors.primary');

    &::before {
      display: none;
    }

    .n-menu-item-content-header {
      margin-left: -12px;
    }
  }
}

/** Message */
.n-message {
  border-left: 4px solid theme('colors.grey.lightBg');

  &--success-error {
    border-color: theme('colors.pink');
  }
  &--success-info {
    border-color: theme('colors.blue');
  }
  &--success-type {
    border-color: theme('colors.green');
  }
  &--success-warning {
    border-color: theme('colors.yellow');
  }
}

/** Radio */
.n-radio-group {
  @apply mt-2;
}
.n-radio {
  .n-radio__label {
    font-weight: normal;
  }
}

/** Switch */
.n-switch {
  margin: 0 1rem;

  &.n-switch--active .n-switch__button {
    background-color: theme('colors.green');
  }

  .n-switch__rail {
    overflow: visible;
  }
}

/** Tag */
.n-tag {
  font-weight: bold;
}
