/** Button */
.n-button {
  .n-button__content {
    @apply whitespace-normal;
  }
  &.n-button--loading {
    .n-button__icon {
      position: absolute;
      margin: 0;

      .n-base-loading {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .n-button__content {
      color: transparent;
    }
  }

  &--small-type .n-button__content {
    @apply leading-[1.44];
  }

  &--tertiary-type:not(.n-button--disabled):focus {
    @apply bg-transparent;
  }
  &--tertiary-type:not(.n-button--disabled):hover {
    @apply bg-bg-lighter;
  }

  &--builders-type:not(.n-button--disabled) {
    @apply text-primary;

    &:hover {
      @apply text-bg;
    }
  }

  &.pointer-events-none {
    cursor: not-allowed;
  }

  &.border-dark {
    .n-button__border,
    &.n-button:not(.n-button--disabled):hover .n-button__state-border {
      @apply border-bg-light;
    }
  }
  &.border-lighter {
    .n-button__border,
    &.n-button:not(.n-button--disabled):hover .n-button__state-border {
      @apply border-bg-lighter;
    }
  }

  /** Type error */
  &--error-type {
    .n-button__border {
      border-color: theme('colors.bg.lighter');
    }
  }

  /** Size small */
  &--small-type {
    .n-button__content {
      @apply font-normal;
    }
  }

  /** Fixes */
  .n-base-wave {
    display: none;
  }
  .n-button__icon {
    width: auto;
  }
}

/** Card */
.n-card {
  &.hide-header .n-card-header {
    @apply absolute right-0 top-0;

    .n-card-header__main {
      @apply hidden;
    }
  }
  &.card-dark,
  &.card-light {
    .n-card-header {
      @apply pb-4;
      .n-card-header__main {
        @apply body-md text-body;
      }
    }
  }

  .n-collapse .n-collapse-item__content-wrapper {
    @apply mt-4;

    &::before {
      content: '';
      @apply absolute left-0 right-0 top-12 border-t border-bg-lighter;
    }
  }
}

/** Checkbox */
.n-checkbox {
  .n-checkbox__label a {
    @apply text-primary;
  }
}

/** Collapse */
.n-collapse {
  &.collapse-permissions {
    border-top: 1px solid var(--n-divider-color);
    padding: var(--n-title-padding);
    margin: var(--n-item-margin);

    .n-collapse-item.n-collapse-item--active
      .n-collapse-item__header.n-collapse-item__header--active
      .n-collapse-item-arrow {
      transform: none;
    }
    .n-collapse-item__content-inner {
      @apply pl-4 sm:pl-8;
    }

    &.unused .n-collapse-item__header {
      @apply cursor-default;
    }
  }
  &:not(.collapse-permissions) .n-collapse-item {
    .n-collapse-item-arrow {
      transform: rotate(90deg);
    }
    .n-collapse-item__header.n-collapse-item__header--active .n-collapse-item-arrow {
      transform: rotate(-90deg);
    }
  }
  &.collapse-up .n-collapse-item {
    .n-collapse-item-arrow {
      transform: rotate(-90deg);
    }
    .n-collapse-item__header.n-collapse-item__header--active .n-collapse-item-arrow {
      transform: rotate(90deg);
    }
  }
  .n-collapse-item--right-arrow-placement .n-collapse-item__header-main {
    @apply justify-between;
  }
}

/** Container */
.container {
  @apply md:px-8;
}

/** Data table */
.n-data-table {
  .n-data-table-thead {
    @apply body-sm;
  }
  .n-data-table-tr.selected-row td {
    @apply bg-bg-dark;
  }

  .n-data-table-th .n-data-table-th__title-wrapper .n-data-table-th__title {
    white-space: nowrap;
  }

  .n-data-table-th.n-data-table-th--filterable {
    padding-right: 15px;

    .n-data-table-filter {
      width: 28px;
    }
  }

  [data-col-key='actions'] .n-button--small-type {
    width: 40px;
    padding-left: 11px;
    padding-right: 11px;

    .n-button__content {
      justify-content: center;
    }
  }

  /** Clickable columns */
  .onClickOpen {
    cursor: pointer;
  }
}

/** Date picker */
.n-date-panel {
  .n-button {
    .n-button__border,
    .n-button__state-border {
      display: none;
    }
  }
}

/** Divider */
.n-divider {
  &.n-divider--vertical {
    @apply mx-4 h-full;
  }
}

/** Drawer */
.n-drawer {
  max-width: 100vw;

  &--right-placement {
    .n-drawer-header__main {
      @apply h4;
    }
    .n-drawer-header__close {
      @apply absolute -left-12 top-12 ml-0 mt-1 h-12 w-12 -translate-y-1/2 translate-x-1/2 rounded-full border-1 border-solid border-white bg-bg transition-colors duration-300;

      &::before {
        display: none;
      }

      &:hover {
        @apply bg-white text-bg;
      }
    }
  }
}

/** Dropdown */
.n-dropdown {
  .n-dropdown-option-body {
    &.active::before {
      @apply bg-bg-lighter;
    }

    &.dropdown-new-project {
      @apply mt-2 !text-bg;

      &::before {
        @apply !bg-white;
      }
    }
  }
}

/** Form */
.n-form {
  &:not(.form-errors) {
    .hide-feedback .n-form-item-feedback-wrapper {
      display: none;
    }
  }

  .n-checkbox {
    &--disabled .n-checkbox__label strong {
      @apply opacity-40;
    }
    .n-checkbox__label button {
      @apply relative -top-[2px];
    }
  }
  .n-grid {
    .n-form-item-feedback__line {
      height: 1.25em;
    }
  }
}

/** Headings */
.n-h {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  &.n-h4 {
    @apply font-bold;
    font-size: 1.375rem;

    @screen md {
      font-size: 1.5rem;
    }
  }
  &.n-h5 {
    @apply font-bold;
  }
  &.n-h6 {
    @apply font-bold;
    font-size: 0.875rem;
  }
  &.n-h--prefix-bar {
    padding-left: 1.5rem;

    &::before {
      @apply top-1/2 h-[2px] w-3 -translate-y-1/2 rounded-none bg-white;
    }
  }
}

/** Icon */
.n-base-icon {
  width: auto;
  height: auto;
  line-height: unset;

  [class^='icon-'],
  [class*=' icon-'] {
    display: inline-block;
    width: 1rem;
    height: 1rem;

    &.text-xl {
      width: 1.25rem;
      height: 1.125rem;
    }

    &.text-2xl {
      width: 1.5rem;
      height: 1.25rem;
    }

    &.text-3xl {
      width: 1.875rem;
      height: 1.7rem;
    }
  }
}
.nuxt-icon {
  &.icon-auto svg {
    width: auto;
    height: auto;
  }
}

/** Input */
.n-input {
  .n-input__prefix {
    @apply mr-2;
  }
  .n-input__eye {
    display: flex;
  }
}
.n-input-number {
  @apply w-full;

  .n-button__icon {
    width: var(--n-icon-size);
  }
}

/** Layout */
.n-layout {
  background-color: transparent;

  &.has-scrollbar {
    @apply -mr-3;
    width: calc(100% + 0.75rem);

    > .n-layout-scroll-container > .n-layout-content > .n-layout-scroll-container > .n-scrollbar {
      @apply -mr-3 pr-3;
    }
    > .n-layout-scroll-container > .n-layout-sider > .n-layout-sider-scroll-container {
      @apply pr-3;
    }
  }

  &.has-scrollbar-bottom {
    @apply -mb-3;
    height: calc(100% + 0.75rem);
    > .n-layout-scroll-container > .n-layout-content > .n-layout-scroll-container > .n-scrollbar {
      @apply -mb-3 pb-3;
    }
  }
}
.n-layout-sider {
  background-color: transparent;

  &.sider-visible > .n-scrollbar {
    @apply overflow-visible;
  }

  .n-layout-toggle-button {
    @apply top-12;
  }
}

/** Menu */
.n-menu {
  &.n-menu--vertical {
    overflow: unset;

    &.n-menu--collapsed {
      @apply px-4;

      .n-menu-divider {
        @apply mx-2 my-4;
      }
      .n-menu-item-group-title {
        @apply hidden;
      }
      .n-menu-item-content {
        @apply !p-0;
      }
      .n-menu-item-content::before,
      .n-menu-item-content-header a::before {
        @apply left-0 right-0 rounded-full;
      }
      .n-menu-item-content__icon {
        @apply ml-2 !text-[22px];
      }
    }

    .n-submenu > .n-menu-item {
      @apply sticky top-0 z-2 mb-2;

      .n-menu-item-content {
        &::before {
          @apply rounded-none bg-bg;
        }

        .n-menu-item-content-header {
          @apply pl-3;
          color: var(--n-group-text-color);
          font-weight: bold;
          font-size: 0.93em;
        }
        .n-menu-item-content__arrow {
          color: var(--n-group-text-color);
        }
      }
    }

    .n-menu-item-group .n-menu-item-group-title {
      @apply my-2 ml-3 h-10;
    }

    .n-menu-item {
      @apply mt-1;

      &:first-child {
        @apply mt-0;
      }
    }
    > .n-menu-item,
    > .n-menu-item-group {
      + .n-submenu,
      + .n-menu-item-group {
        @apply mt-4;
      }
    }
    .n-submenu-children {
      @apply mb-2;
    }
    .n-menu-item-content {
      @apply pr-8;

      &::before {
        @apply left-8 right-8 rounded-lg;
      }
      &__icon {
        @apply ml-3;
      }
    }
    .n-menu-item-content-header {
      &__extra {
        @apply float-right pr-1;
      }

      a::before {
        @apply left-8 right-8;
      }
    }
  }

  &.n-menu--horizontal {
    .n-menu-item-content {
      @apply mr-8 px-1;
    }
  }
}

/** Message */
.n-message {
  @apply relative flex flex-wrap;
  border: 3px solid theme('colors.bg.lighter');

  &--error-type {
    border-color: theme('colors.pink');
  }
  &--info-type {
    border-color: theme('colors.blue');
  }
  &--success-type {
    border-color: theme('colors.green');
  }
  &--warning-type {
    border-color: theme('colors.yellow');
  }

  .n-message__icon {
    @apply relative mb-2 flex w-full items-center;

    .n-base-icon {
      @apply relative mr-3;
    }
  }

  .n-message__close {
    @apply absolute right-6 top-6;
  }

  .n-message__content {
    @apply block w-full whitespace-pre-line;
  }
}

/** Message title */
.n-message__icon,
html[lang='en'] .n-message__icon {
  @apply text-lg font-bold;

  &--error-type::after {
    content: 'Oops…';
  }
  &--info-type::after {
    content: 'Info';
  }
  &--success-type::after {
    content: 'Done!';
  }
  &--warning-type::after {
    content: 'Well…';
  }
}

/** Message provider */
body > .n-message-container {
  &.n-message-container--top {
    position: fixed;
  }
}

/** Modal */
.n-modal {
  @apply mx-auto my-12 mobile:w-[90vw];

  /** Card */
  &.n-card {
    @apply card-border py-4 lg:py-12;

    &.hide-header .n-card-header {
      @apply absolute right-0 top-0;

      .n-card-header__main {
        @apply hidden;
      }
    }

    .n-card {
      &-header {
        @apply py-4;

        &__main {
          @apply font-bold;
        }
        &__close,
        .n-card__close {
          @apply absolute right-0 top-0 h-12 w-12 -translate-y-1/2 translate-x-1/2 rounded-full border-1 border-solid border-white bg-bg transition-colors duration-300;

          &::before {
            display: none;
          }

          &:hover {
            @apply bg-white text-bg;
          }
        }
      }

      &__content {
        @apply py-4 mobile:px-4;

        &:not(:first-child) {
          @apply border-t-0;
        }
      }

      &__footer {
        @apply pt-4;

        &:not(:first-child) {
          @apply border-t-0;
        }
      }
    }
  }

  /** Dialog */
  &.n-dialog {
    @apply min-w-[90vw] mobile:px-[6%] md:min-w-[660px];
    border: var(--n-border);

    .n-dialog {
      &__close {
        @apply h-12 w-12 rounded-full border-1 border-solid border-white bg-bg;

        &:hover {
          @apply bg-white;
        }
      }

      &__title {
        @apply font-bold;
      }
    }
  }

  /** W3 Warn */
  &.w3-warn {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin: -6px;
      @apply bg-w3Warn;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      @apply bg-bg;
    }

    > div {
      position: relative;
      z-index: 3;
    }

    .n-card-header__main {
      @apply h2;
    }
  }
}

/** Pagination */
.n-pagination {
  @apply items-center;

  .n-base-selection .n-base-suffix {
    @apply right-2;
  }

  .n-pagination-prefix {
    @apply text-body;
  }
}

/** Popover */
.n-popover {
  max-width: 400px;

  &__content {
    @apply body-sm whitespace-break-spaces;
  }
  &.n-popover-shared.n-popover-shared--show-arrow {
    @apply max-w-xs;
  }
}
[v-placement='top'] > .n-popover-shared > .n-popover-arrow-wrapper {
  margin-top: -1px;
}

/** Progress */
.n-progress.n-progress--line {
  .n-progress-icon.n-progress-icon--as-text {
    @apply body-sm text-right;
  }
  .n-progress-custom-content {
    @apply ml-0;
  }
}

/** Radio */
.n-radio-group {
  .n-radio-button {
    @apply flex h-10 w-full items-center justify-center;
  }
  .n-radio__label {
    font-weight: normal;
  }
}
.n-radio {
  .n-radio__label {
    font-weight: normal;
  }
}

/** scrollbar */
.n-scrollbar {
  &.has-scrollbar {
    @apply -mr-3 pr-3;
    width: calc(100% + 0.75rem);
  }

  &.has-scrollbar-bottom {
    @apply -mb-3 pb-3;
    height: calc(100% + 0.75rem);
  }
}

/** Select */
.n-select {
  &.select-role {
    .n-base-selection-tag-wrapper {
      padding: 0 4px 0 0;

      &:not(:nth-last-child(3)) .n-tag__content:after {
        content: ',';
      }
      .n-tag {
        padding: 0;
      }
      .n-tag__border {
        border: 0;
      }
      .n-tag__close {
        display: none;
      }
    }
  }
}

/** Selection */
.n-base-selection .n-base-suffix {
  @apply right-4;
}

/** Select menu */
.n-select-menu {
  margin: 0;

  .v-vl-visible-items {
    padding: 16px 12px;
  }
}

/** Steps */
.n-steps {
  &.hide-content .n-step-content {
    @apply hidden;
  }
  &.dots {
    @apply mx-auto inline-flex w-auto gap-2;

    .n-step--process-status .n-step-indicator {
      @apply bg-white;
    }

    .n-step-indicator {
      --n-indicator-size: 8px;
      @apply bg-bg-lighter shadow-none;

      .n-step-indicator-slot {
        @apply hidden;
      }
    }
    .n-step-content {
      @apply hidden;
    }
  }
}

/** Switch */
.n-switch {
  margin: 0 1rem;

  &.n-switch--active .n-switch__button {
    background-color: theme('colors.green');
  }

  .n-switch__rail {
    overflow: visible;
  }
}

/** Table */
.n-table {
  &.plain {
    th {
      @apply bg-transparent;
    }
    td {
      @apply text-body;
    }
  }
}
/** Tabs */
.n-tabs {
  &--line-type {
    .n-tabs-tab {
      border-bottom: 2px solid transparent;

      &:hover {
        border-color: theme(colors.yellow);
      }
    }
  }
  &--segment-type {
    .n-tabs-rail {
      padding: 0;
    }
    .n-tabs-tab {
      border: 1px solid theme(colors.bg.light);
    }
  }
  &--bar-type {
    .n-tabs-wrapper {
      @apply mobile:flex-col mobile:items-center;
    }
    .n-tabs-tab-pad {
      @apply relative mobile:hidden;

      &::before {
        content: '';
        @apply absolute left-1/2 top-1/2 h-3 -translate-x-1/2 -translate-y-1/2 border-r-1 border-bg-lighter;
      }
    }
    .n-tabs-tab {
      @apply mobile:py-1;

      &.n-tabs-tab--disabled {
        @apply pointer-events-none !border-b-0 grayscale-0;
      }
    }
    .n-tab-pane {
      @apply mobile:pt-0;

      > div {
        @apply mobile:-my-4 mobile:py-4;
      }
    }
  }

  &.types-hidden .n-tabs-nav {
    @apply hidden;
  }
}

/** Tag */
.n-tag {
  @apply font-bold uppercase;

  &.n-tag--round {
    padding: var(--n-padding);
  }
}

/** Upload file */
.n-upload {
  .n-upload-dragger {
    @apply flex items-center justify-center bg-no-repeat;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23313442' stroke-width='1' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-size: 100% 99.7%;
    transition: all 0.3s;

    &:focus,
    &:hover {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F9FF73' stroke-width='1' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }
  .n-upload-file-info {
    &__action {
      .n-button {
        @apply h-8 w-8 p-2 hover:bg-bg-lighter;
      }
      .n-button__icon {
        width: var(--n-icon-size);
      }
    }
  }

  .n-progress--line {
    display: none;
  }

  &.w-full .n-upload-trigger {
    display: block;
  }
}

.n-upload-file-list .n-upload-file {
  @apply mb-2 bg-bg px-6 pb-1 hover:bg-bg;

  .n-upload-file-info__thumbnail {
    display: none;
  }
}
