/**
 * Btn animation - hover bounce
*/
.hover-bounce {
  animation-name: bounceOut;
  animation-duration: 50s;

  &:hover {
    animation-name: bounceIn;
    animation-duration: 50s;
  }
  &.locked {
    animation-duration: 0s;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(0px);
  }
  1% {
    transform: translateY(-4px);
  }
  2%,
  100% {
    transform: translateY(-3px);
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(-3px);
  }
  1% {
    transform: translateY(1px);
  }
  2%,
  100% {
    transform: translateY(0px);
  }
}

/**
 * Page transitions
*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* Scale X */
.scaleX-enter-active,
.scaleX-leave-active {
  transition: transform 0.2s;
  transform-origin: 0 0;
}
.scaleX-enter-from,
.scaleX-leave-to {
  transform: scaleX(0);
}

/* Scale Y */
.scaleY-enter-active,
.scaleY-leave-active {
  transition: transform 0.2s;
  transform-origin: 0 0;
}
.scaleY-enter-from,
.scaleY-leave-to {
  transform: scaleY(0);
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-down-enter-active {
  transition: all 0.5s ease;
  transform: translateY(-100%);
  opacity: 0;
}
.slide-down-enter-to {
  transform: translateY(0);
  opacity: 1;
}

/* Slide sleft */
.slide-left-enter-active {
  transition: all 0.5s ease;
  transform: translateX(-100%);
  opacity: 0;
}
.slide-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}

/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave-active {
  position: absolute;
}
.fade-enter,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}

/* Width */
.width-enter-active,
.width-leave-active {
  transition: width 1s;
}
.width-enter-from,
.width-leave-to {
  width: 0%;
  opacity: 0;
}
.width-enter-to,
.width-leave-from {
  width: 100%;
}
