@layer base {
  /* Headline 1 */
  h1 {
    @apply font-heading font-black;
    font-size: 3.25rem;
    line-height: 1.33;

    @screen md {
      font-size: 5rem;
    }
  }

  /* Headline 2 */
  h2 {
    @apply font-heading font-black;
    font-size: 2.5rem;
    line-height: 1.5;

    @screen md {
      font-size: 3.5rem;
    }
  }

  /* Headline 3 */
  h3 {
    @apply font-heading font-black;
    font-size: 1.625rem;
    line-height: 1.5;

    @screen md {
      font-size: 1.75rem;
    }
  }

  /* Headline 4 */
  h4 {
    @apply font-heading font-black;
    font-size: 1.375rem;
    line-height: 1.5;

    @screen md {
      font-size: 1.5rem;
    }

    + p {
      @apply mt-2;
    }
  }

  /* Headline 5 */
  h5 {
    @apply font-heading font-black;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  /* Headline 6 */
  h6 {
    @apply font-content font-bold uppercase;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0.25em;
  }

  p {
    @apply body-md;

    + p {
      @apply mt-2;
    }
  }

  label {
    @apply font-black cursor-pointer;

    > a {
      @apply text-primary;
    }
  }

  button,
  [role='button'],
  [type='reset'],
  [type='submit'] {
    @apply relative font-button;
  }

  .body-lg {
    @apply font-content;
    font-size: 1.375rem;
    line-height: 1.5;
  }

  .body-md {
    @apply font-content;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .body-sm {
    @apply font-content;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
