@layer base {
  /* Headline 1 */
  h1,
  .h1 {
    @apply font-bold leading-tight;
    font-size: 2.25rem;
  }

  /* Headline 2 */
  h2,
  .h2 {
    @apply font-bold leading-tight;
    font-size: 2rem;

    + p {
      @apply mt-2;
    }
  }

  /* Headline 3 */
  h3,
  .h3 {
    @apply font-bold leading-tight;
    font-size: 1.75rem;

    + h4,
    + .h4,
    + p,
    + ul {
      @apply mt-2;
    }
  }

  /* Headline 4 */
  h4,
  .h4 {
    @apply font-semibold;
    font-size: 1.25rem;
    line-height: 1.55;

    + p,
    + ul {
      @apply mt-2;
    }
  }

  /* Headline 5 */
  h5,
  .h5 {
    @apply font-semibold;
    font-size: 1.125rem;
    line-height: 1.6;

    + p,
    + ul {
      @apply mt-2;
    }
  }

  /* Headline 6 */
  h6,
  .h6 {
    @apply font-bold;
    font-size: 0.875rem;
    line-height: 1.6;

    + p,
    + ul {
      @apply mt-2;
    }
  }

  p {
    @apply body-md whitespace-break-spaces text-white-secondary;

    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + p,
    + ul {
      @apply mt-4;
    }

    strong,
    b {
      @apply font-semibold;
    }
  }

  b {
    @apply font-semibold;
  }

  small {
    @apply text-xs text-placeholder;
  }

  ul {
    @apply body-md;
  }

  label {
    @apply cursor-pointer font-bold;

    > a {
      @apply text-primary;
    }
  }

  button,
  [role='button'],
  [type='reset'],
  [type='submit'] {
    @apply relative;
    font-size: 0.875rem;
    line-height: 1.715;
  }

  .body-xl {
    @apply text-lg;

    strong,
    b {
      @apply font-semibold;
    }
  }

  .body-lg {
    @apply text-base;

    strong,
    b {
      @apply font-semibold;
    }
  }

  .body-md {
    @apply text-sm;

    strong,
    b {
      @apply font-semibold;
    }
  }

  .body-sm {
    @apply text-xs;

    strong,
    b {
      @apply font-semibold;
    }
  }
}
