@layer utilities {
  .link-text {
    @apply font-bold underline hover:no-underline hover:text-gold;
  }

  /**
  * Auth layout - bg clip path
  */
  .clip-path-bg-left {
    -webkit-clip-path: ellipse(60% 85% at 40% 50%);
    clip-path: ellipse(60% 85% at 40% 50%);
  }
  .clip-path-bg-right {
    -webkit-clip-path: ellipse(60% 85% at 60% 50%);
    clip-path: ellipse(60% 85% at 60% 50%);
  }

  .flex-cc {
    @apply flex justify-center items-center;
  }

  .inline-flex-cc {
    @apply inline-flex justify-center items-center;
  }

  /** Border */
  .card-border {
    @apply border-1 border-bg-lighter;
  }

  /** Card */
  .card {
    @apply bg-bg card-border rounded-lg;
  }
  .card-dark {
    @apply bg-bg-dark card-border rounded-lg;

    &-multiple {
      @apply relative pt-3 z-1;

      &::before {
        @apply absolute top-0 left-4 right-4 bottom-0 bg-bg-dark card-border rounded-lg -z-1;
        content: '';
      }

      &::after {
        @apply absolute top-[6px] left-2 right-2 bottom-0 bg-bg-dark card-border rounded-lg -z-1;
        content: '';
      }

      &.active::before,
      &.active::after {
        @apply border-yellow;
      }

      .card-dark {
        @apply pt-5;
      }
    }
  }
  .card-light {
    @apply bg-bg-light card-border rounded-lg;
  }

  /** scrollbar */
  .scrollable {
    @apply transition-all duration-300;
    -ms-overflow-style: auto;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border-radius: 5px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

/** Payment package */
.credits-package,
.subscription-package {
  @apply relative;

  &:not(:first-child):before {
    content: '';
    @apply absolute -left-6 top-0 bottom-0 block w-0 h-full border-l border-bg-lighter;
  }
}
