@layer utilities {
  .link-text {
    @apply font-bold underline hover:no-underline hover:text-gold;
  }

  /**
  * Auth layout - bg clip path
  */
  .clip-path-bg-left {
    -webkit-clip-path: ellipse(60% 85% at 40% 50%);
    clip-path: ellipse(60% 85% at 40% 50%);
  }
  .clip-path-bg-right {
    -webkit-clip-path: ellipse(60% 85% at 60% 50%);
    clip-path: ellipse(60% 85% at 60% 50%);
  }

  /** Border */
  .card-border {
    @apply border-1 border-bg-lighter;
  }

  /** Card */
  .card {
    @apply bg-bg card-border;
  }
  .card-light {
    @apply bg-bg-light card-border;
  }
}
