@layer utilities {
  .link {
    @apply text-yellow underline;
  }

  /**
  * Auth layout - bg clip path
  */
  .clip-path-bg-left {
    -webkit-clip-path: ellipse(60% 85% at 40% 50%);
    clip-path: ellipse(60% 85% at 40% 50%);
  }
  .clip-path-bg-right {
    -webkit-clip-path: ellipse(60% 85% at 60% 50%);
    clip-path: ellipse(60% 85% at 60% 50%);
  }

  .flex-cc {
    @apply flex items-center justify-center;
  }

  .inline-flex-cc {
    @apply inline-flex items-center justify-center;
  }

  /** Bg */
  .absoluteCenter {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .bg-ellipse {
    @apply relative;

    &:before {
      content: '';
      @apply absoluteCenter -z-1 h-[1052px] w-[1052px] rounded-full bg-blue opacity-10 blur-3xl;
    }
  }
  .bg-ellipse-small {
    @apply bg-ellipse;
    &:before {
      @apply h-[392px] w-[392px];
    }
  }
  .fullWidth {
    @apply relative left-1/2 w-screen -translate-x-1/2;
  }
  .bg-fullWidth {
    @apply relative;

    &:before {
      content: '';
      @apply fullWidth !absolute bottom-0 top-0 -z-1 h-full bg-bg-dark;
    }
  }

  /** Border */
  .card-border {
    @apply border-1 border-bg-lighter;
  }

  /** Card */
  .card {
    @apply card-border rounded-lg bg-bg;
  }
  .card-dark {
    @apply card-border rounded-lg bg-bg-dark;

    &-multiple {
      @apply relative z-1 pt-3;

      &::before {
        @apply card-border absolute bottom-0 left-4 right-4 top-0 -z-1 rounded-lg bg-bg-dark;
        content: '';
      }

      &::after {
        @apply card-border absolute bottom-0 left-2 right-2 top-[6px] -z-1 rounded-lg bg-bg-dark;
        content: '';
      }

      &.active::before,
      &.active::after {
        @apply border-yellow;
      }

      .card-dark {
        @apply pt-5;
      }
    }
  }
  .card-light {
    @apply card-border rounded-lg bg-bg-light;
  }
  .card-lighter {
    @apply card-border rounded-lg bg-bg-lighter;
  }

  .card-auth {
    @apply lg:px-22 bg-bg-dark p-10 md:p-14;
  }

  /** scrollbar */
  .scrollable {
    @apply transition-all duration-300;
    -ms-overflow-style: auto;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border-radius: 5px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

/** Payment package */
.credits-package,
.subscription-package {
  @apply relative;

  &:not(:first-child):before {
    content: '';
    @apply absolute -left-6 bottom-0 top-0 block h-full w-0 border-l border-bg-lighter;
  }
}
