@layer base {
  /* Headline 1 */
  h1 {
    @apply font-serif font-bold;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  /* Headline 2 */
  h2 {
    @apply font-serif;
    font-size: 2.25rem;
    line-height: 1.3;
  }

  /* Subtitle 1 */
  h3 {
    @apply font-serif font-bold;
    font-size: 2rem;
    line-height: 1.3;
  }

  /* Subtitle 2 */
  h4 {
    @apply font-serif;
    font-size: 1.5rem;
    line-height: 1.3;
  }

  /* Subtitle 3 */
  h5 {
    @apply font-serif;
    font-size: 1.125rem;
    line-height: 1.3;
  }

  .body-lg {
    @apply font-sans font-light;
    font-size: 1rem;
    line-height: 1.5;
  }

  .body-md {
    @apply font-sans;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
